@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
</div>


<input type="button" value="Ver estacionamento mais próximo" onclick="location.href='@Url.Action("Distance", "Home")'" />

<input type="button" value="Cadastrar Cliente" onclick="location.href='@Url.Action("Clientes", "Clientes")'" />
